.header {
  height: 100px;
  width: 100%;
  background-color: var(--bg-color);
  display: flex;
  padding: 0 10%;
  justify-content: space-between;
  align-items: center;
}
.header nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}
.header nav ul li a {
  cursor: pointer;
}
