.bgPicture {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: screen;
  content: url("../../src/images/patternDotsScreen.gif");
  scale: 1;
  z-index: -1;
}
.wrapper {
  width: 100%;
  flex: 1 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  position: relative;
}
.form label {
  justify-self: end;
  align-self: center;
}
.form input {
  background-color: rgb(237, 237, 237);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: none;

  box-shadow: -2px -2px 4px rgba(255, 255, 255, 1) inset,
    2px 2px 4px rgba(0, 0, 0, 0.25) inset;
}
.form button {
  background-color: rgb(237, 237, 237);
  grid-column-start: 2;
  grid-column-end: 3;
  width: max-content;
  justify-self: start;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: none;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25), -4px -4px 8px rgba(255, 255, 255, 1);
}
.form button:hover {
  color: var(--accent-blue);
}
.form button:active {
  color: var(--accent-blue);
  box-shadow: -4px -4px 8px rgba(0, 0, 0, 0.25), 4px 4px 8px rgba(255, 255, 255, 1);
}
.form h1 {
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: start;
}
.alertMsg {
  position: absolute;
  right: 0;
  bottom: 0;
  color: var(--accent-red);
}
