.pageWrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.contentWrapper {
  width: 100%;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: flex-start; */
}
.background {
  width: 100%;
  height: 100vh;
  background-image: url("../../src/images/cover.jpg");
  background-position: center;
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}
