.postCard {
  width: 100%;
  max-width: 1000px;
  overflow: hidden;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}
.blendImage {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  mix-blend-mode: multiply;
  object-fit: cover;
  opacity: 0%;
  transition: 0.5s;
  border-radius: 1rem;
}
.delteAnim {
  content: url("../../src/images/iksaiRedmultiply.gif");
}
.upvoteAnim {
  content: url("../../src/images/upvote.gif");
  transform: rotate(180deg);
}
.downvoteAnim {
  content: url("../../src/images/downvote.gif");
}
.contentWrapper {
  background-color: rgba(195, 195, 195, 0.1);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2), 2px 2px 4px rgba(255, 255, 255, 1) inset,
    -2px -2px 4px rgba(0, 0, 0, 0.2) inset;
  backdrop-filter: blur(4px);
  border-radius: 1rem;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 1rem;
  padding: 1.5rem;
  width: 100%;
}
.firstCard {
  border: solid 3px var(--black-col);
}

.userPannel {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
  align-content: center;
  justify-items: center;
  width: 150px;
  height: fit-content;
}

.profilePic {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.5), 2px 2px 2px rgba(255, 255, 255, 1);
}
.vote {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.vote button {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1rem;
  border: solid 1px var(--black-col);
}
.btnUpvote:hover {
  background-color: var(--accent-yellow);
  color: black;
}
.btnDownvote:hover {
  background-color: var(--accent-red);
  color: black;
}
.btnUpvoteActive {
  background-color: var(--black-col);
  color: white;
}
.btnDownvoteActive {
  background-color: var(--black-col);
  color: white;
}
.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.postDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user h5 {
  color: var(--accent-blue);
}
.deleteBtn {
  width: min-content;
  height: min-content;
  align-self: self-start;
  padding: 0.5rem;
  border-radius: 1rem;
  border: none;
  background-color: transparent;
  box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.5), 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}
.deleteBtn:hover {
  color: white;
  background-color: var(--accent-red);
}
/* @media screen and (width < 768px) {
} */
@media screen and (width < 640px) {
  .contentWrapper {
    grid-template-columns: auto auto;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
  }
  .contentWrapper:not(:has(.deleteBtn)) .userPannel {
    justify-content: space-between;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .userPannel {
    width: 100%;
    display: flex;
    /* flex-direction: row-reverse;
    justify-content: flex-end; */
  }

  .user {
    flex-direction: row;
  }
  .vote {
    flex-direction: column;
    gap: 0;
  }

  .vote h4:nth-child(3) {
    display: none;
  }
  .contentWrapper p {
    text-align: end;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .deleteBtn {
    justify-self: self-end;
  }
}
