.topicsSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  align-items: center;
}
/* .newTopicForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
} */
.newTopicBtn {
  width: fit-content;
  padding: 0.5rem;
}
