.footer {
  position: relative;
  height: 100px;
  width: 100%;
  background-color: var(--black-col);
  display: flex;
  /* padding: 0 10%; */
  justify-content: center;
  align-items: center;
}
.footer ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}
.footer ul li a {
  cursor: pointer;
  color: white;
}
