.topicCard {
  background-color: bisque;
  width: 90%;
  max-width: 1000px;
  padding: 1.5rem;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 100px auto 1fr auto;
  gap: 1rem;
}
.votes {
  align-self: center;
  text-align: center;
}

.topicCard img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
}
.topicCard p {
  /* overflow: hidden;
  
  text-overflow: ellipsis; */

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  line-clamp: 4;
  -webkit-box-orient: vertical;
}
.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.deleteBtn {
  width: min-content;
  height: min-content;
  padding: 0.25rem;
  align-self: center;
}
.title {
  cursor: pointer;
}
.title:hover {
  color: rgb(255, 60, 0);
}
